/*******
convenções
*******/
/*o box sizing é resetado para que as mesmas regras de padding sejam aplicadas a todos os navegadores */
*,
*:before,
*:after{
  box-sizing: border-box;
}
.section-title h3{
  text-align: center;
  font-size: 29px;
  color: #fff;
}
.section-content{
  padding:10px;
}


/*******
topo
*******/
header{
  background:#fff;
  padding-bottom:30px;
}
header h3{
  color: rgb(246, 139, 33);
position: absolute;
z-index: 234;
left: 50%;
top: 11%;
font-size: 75px;
}


.user-name{
	color:rgb(246, 139, 33);
  font-weight:bold;
}
/*******
rodapé
*******/
footer{
  background: rgb(20,87,129);
  padding: 30px 0px;
}
.copyright{
  color: #fff;
  text-align: center;
}
.research-link,.research-link:hover{
	padding:10px 20px;
	margin:30px 0px;
	background:rgb(246, 139, 33);
	bordr-radius:5px;
	color:#fff;
}
/*******
pagina - home
*******/
.main-content{
  padding-bottom:30px;
}


  /***
  botões de staging - selecionando os formulários
  ***/
.section-select .section-title,.form-section .section-title{
  min-height:70px;
  background:rgb(20,87,129);
  border-radius:5px;
  background-image:linear-gradient(to bottom,#337ab7 0,#265a88 100%);
}
.staging-buttons ul{
  margin:1px;
  padding:3px;
}
.staging-buttons ul li{
  list-style:none;
  margin:10px auto;
  display: block;
}
.staging-buttons .btn{
  font-size: 18px;
  margin: 0 auto;
  display: block;
  min-width:200px;
}

.form-section .section-title h3{
  line-height:70px;
}

  /*******
    formulário
  *******/
.label-name{
  color: #000;
}
.form-label{
  min-width: 250px;
}
.form-group{
  padding: 10px;
  border-bottom: 1px solid #afafaf;
}
.btn-green{
  background:rgb(252, 220, 188);
  color: #fff;
}
.field-large{
  min-width: 400px;
  max-width: 100%;
}
/* botões submit e apagar*/
.btn-confirm,.btn-erase,.casoTeste,.submitLogin{
  background: rgb(246, 139, 33);
  color: #fff;
  border: 1px solid rgb(246, 139, 33);
  border-radius: 10px;
  padding: 5px 8px;
  margin:10px 0px;
}


/*botões de contexto - adicionando novos input fields*/
.add-field-button,.add-curso-button{
      margin: 10px auto;
    display: block;
    background: rgb(246, 139, 33);
    padding: 10px 10px;
    font-weight: bold;
}
.remove-field{
    padding: 5px 15px;
    border-radius: 10px;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
/*******
pagina - login
*******/
.login-form form input[type="text"],.login-form form input[type="password"]{
	padding:5px 10px;
	margin:5px;
	border:1px solid #afafaf;
	border-radius:3px;
	width:350px;
	max-width:100%;
}
.login-form form input[type="submit"]{
	padding:5px 10px;
	margin:5px;
}
.staging-buttons ul li button{
	background:rgb(246, 139, 33);
	color:#fff;
}
/******
páginas de erro
******/
.error-content{
	min-height:350px;
}
/*******
responsividade
*******/
@media(min-width:768px){
	.main-content{
	 min-height:640px;
	}
	.error-content{
	min-height:475px;
}
}
